.mainContainer {
  flex-grow: 1;
  z-index: 1;
  background-color: black;
  backdrop-filter: blur(10px);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Banner {
  height: 300px;
  position: relative;
}

.Banner .bannerImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100);
}

.Banner .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.contents {
  display: flex;
  flex-direction: column;
  z-index: 3;
  width: 81.5%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.content .breadCrump {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .breadCrump P {
  color: #848484;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.content .breadCrump P span {
  color: #f1f1f1;
}

.content .breadCrump i {
  color: #f1f1f1;
  font-size: 24px;
  cursor: pointer;
}

.content .artist {
  margin-top: auto;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .artist .left .name {
  display: flex;
  align-items: center;
}

.content .artist .left .name h2 {
  font-size: 50px;
}

.content .artist .left .name img {
  width: 30px;
  margin-left: 10px;
}

.content .artist .left p {
  font-size: 14px;
}

.content .artist .left p i {
  margin-right: 6px;
}

.content .artist .left p span {
  color: #848484;
  margin-left: 6px;
}

.content .artist .right {
  display: flex;
  align-items: center;
}

.content .artist .right a {
  text-decoration: none;
  padding: 10px 30px;
  font-size: 18px;
  color: #f1f1f1;
  border-radius: 100vw;
  margin: 0 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.content .artist .right a i {
  margin-right: 10px;
  font-size: 14px;
}

.content .artist .right a:nth-child(1) {
  background: #39aa24;
}

.content .artist .right a:nth-child(2) {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 0;
}

.mainContainer .menuList {
  padding: 15px 20px;
  background: var(--black-color);
  border-radius: 10px;
  margin: 8px 8px 0px 0px;
}

.menuList ul {
  display: flex;
}

.menuList ul li {
  list-style: none;
  margin-right: 10px;
  position: relative;
}

.mainContainer .menuList ul li button {
  font-size: 1.4rem;
  border-radius: 25px;
  padding: 8px 15px;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--black-color);
}

.mainContainer .menuList ul li::before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 10px;
  width: 0px;
  height: 5px;
  border-radius: 5px;
  background: #f1f1f1;
}


.mainContainer .menuList ul li:hover a,
.mainContainer .menuList ul li.active a {
  color: #f1f1f1;
  transition: 0.3s ease;
}

.mainContainer .menuList p {
  color: #f1f1f1;
  font-size: 14px;
}

.mainContainer p i {
  font-size: 12px;
  margin-right: 6px;
}

.mainContainer p span {
  margin-left: 6px;
  color: #848484;
}

.songsContainer {
  flex-wrap: wrap;
}

.AudioList {
  margin: 25px 8px 0px 8px;
}

.audioList-title {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--white-color);
  margin: 26px 0px 16px 0px;
}

.songs {
  border: 1px solid transparent;
  min-width: 396px;
  background-color: var(--black-color);
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 8px 10px 0px;
  transition: 0.3s ease;
}

.songs + .songs {
  margin-right: 8px;
}

.songs:hover {
  border: 1px solid var(--primary-color);
}

.song {
  align-items: center;
  padding: 12px;
}

.imgBox {
  width: 65px;
  height: 65px;
}

.imgBox img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.song-play {
  width: 27px;
  background: var(--primary-color);
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: -3px;
  right: 0px;
  color: var(--white-color);
  transform: translateY(5px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}


.songs:hover .song-play {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.song-play i {
  line-height: 27px;
}

.song__heading {
  flex: 3;
  margin-left: 12px;
}

.song__heading-name,
.song__heading-artist {
  cursor: pointer;
}

.song__heading-name {
  font-size: 1.5rem;
  color: var(--white-color);
}

.song__heading-name:hover,
.song__heading-artist:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

.song__heading-artist {
  font-size: 1.2rem;
  color: var(--text-color);
}

.song__btn {
  flex: 1;
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}

.song__btn-icon {
  cursor: pointer;
}

.song__btn-icon i.active {
  color: var(--primary-color);
}

/* CSS Recommended Music */
.recommended__item {
  cursor: pointer;
  background-color: var(--black-color);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.recommended__item:hover {
  border: 1px solid var(--primary-color);
}

.recommended__heading {
  font-size: 2.3rem;
  font-weight: 600;
}

.recommended__description p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.recommended__item-image {
  width: 55px;
  height: 55px;
}

.recommended__item-content h3 {
  font-size: 1.7rem;
}

.recommended__item-content--artist {
  font-size: 1.3rem;
}

.recommended__item-icon {
  background-color: #a0a0a0;
  color: var(--black-color);
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px !important;
  border-radius: 2px;
  font-size: 0.9rem;
}

.recommended__reload-page {
  background-color: var(--primary-color);
  width: 230px !important;
  color: var(--black-color);
  padding: 7px 0px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

.recommended__reload-page:hover {
  opacity: 0.8;
}

.recommended__reload-page--title {
  font-size: 1.5rem;
  padding: 6px 0px;
  font-weight: 600;
}

.recommended__reload-page--icon {
  font-size: 1.4rem;
}

@media screen and (max-width: 550px) {
  .mainContainer {
    min-width: 380px;
  }

  .content {
    padding: 10px 15px;
  }

  .content .breadCrump P {
    font-size: 12px;
  }

  .content .breadCrump i {
    font-size: 14px;
  }

  .content .artist .left .name h2 {
    font-size: 25px;
  }

  .content .artist .right a {
    padding: 5px 15px;
    font-size: 12px;
    margin: 0 10px;
  }

  .menuList ul li {
    margin: 0 5px;
  }

  .mainContainer .menuList ul li a {
    font-size: 14px;
  }

  .mainContainer .menuList p {
    font-size: 12px;
  }

  .mainContainer .menuList p i {
    font-size: 10px;
  }

  .mainContainer .menuList p span {
    margin-left: 0px;
    font-size: 10px;
    text-align: center;
    display: block;
  }

  .mainContainer .menuList {
    padding: 10px 15px;
  }

  .AudioList {
    padding: 10px 5px;
  }

  .AudioList .songs .song .section {
    flex-direction: column;
  }

  .AudioList .songs .song .section .songName {
    width: 100%;
  }

  .AudioList .songs .song .section .hits {
    margin-left: 0;
    margin-top: 5px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 950px) {
  .Banner {
    height: 240px !important;
    position: relative;
  }
}

.button__log-out {
  background-color: var(--primary-color);
  color: var(--black-color);
  transition: 0.3s ease;
  border: 1px solid var(--black-color);
}

.button__log-out:hover {
  background-color: var(--black-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}