/* Cột trái */
.listen-music__volume-icon i {
  font-size: 1.6rem;
  color: var(--white-color);
}

/* Cột giữa */
.listen-music__image {
  width: 400px;
  height: 250px;
}

/* Cột phải */
.listen-music__action {
  font-size: 2rem;
}

.listen-music__action-icon {
  margin-right: 20px;
  transition: 0.3s ease;
}

.listen-music__action-icon i {
  cursor: pointer;
  color: var(--white-color);
  margin-right: 8px;
}

/* Player Controls */
.play-music__controls {
  font-size: 2.5rem;
  margin-right: 10px;
}

.play-music__controls-icon {
  transition: 0.3s ease;
  cursor: pointer;
}

.play-music__controls-icon--step,
.play-music__controls-icon--backward {
  color: var(--text-color);
}

.play-music__controls-icon--step:hover,
.play-music__controls-icon--backward:hover {
  color: var(--white-color);
}

.play-music__controls-icon--backward {
  font-size: 3.5rem;
}

.play-music__controls-icon--playOrPause {
  margin: 0 25px;
  background-color: var(--white-color);
  color: var(--black-color);
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}

.play-music__controls-icon--step {
  font-size: 3.5rem;
}

/* Modal Content */
.modal-content {
  background-color: var(--primary-color) !important;
}

.modal-title {
  font-size: 1.8rem;
}

.modal-header button {
  font-size: 1.4rem;
  margin-right: 3px;
}

.modal-body .modal-body__share-icon {
  width: 140px;
  text-align: center;
  font-size: 2.2rem;
  border-radius: 5px;
  padding: 1px 0px;
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.modal-body .modal-body__share-icon:hover {   
  color: var(--black-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.musicPlayer .progressBar {
  width: 100%;
  position: relative;
  height: 5px;
  outline: none;
  appearance: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* Chrome & Safari */
.musicPlayer .progressBar::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: var(--primary-color) !important;
  width: var(--played-width);
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: width 250ms linear;
}

.musicPlayer .progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3px;
  height: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
  transition: all 250ms linear;
}

/* firefox */
.musicPlayer .progressBar::-moz-range-track {
  width: 100%;
  height: 5px;
  outline: none;
  appearance: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.musicPlayer .progressBar::-moz-range-progress {
  background: #848484;
  width: var(--played-width);
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: width 250ms linear;
}

.musicPlayer .progressBar::-moz-range-thumb {
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
  transition: all 250ms linear;
}

@media screen and (max-width: 550px) {
  .musicPlayer .bottom .currentTime {
    margin-right: 0px;
  }

  .musicPlayer .bottom .duration {
    margin-left: 0px;
  }

  .musicPlayer .top .middle .back i,
  .musicPlayer .top .middle .forward i {
    margin: 0 5px;
  }

  .musicPlayer .bottom .progressBar {
    width: 110px;
  }
}


@media screen and (min-width: 550px) and (max-width: 1080px) {
  .musicPlayer .songImage {
    width: 100px;
    min-width: 100px;
    height: 100px;
  }
}
/* Trạng thái mặc định của icon tim */
/* Trạng thái mặc định của icon tim */
.listen-music__action-icon--favorite i {
  color: var(--white-color); /* Màu trắng mặc định */
  transition: color 0.3s ease;
}

/* Màu khi bài hát được yêu thích */
.listen-music__action-icon--favorite.liked i {
  color: green; /* Màu xanh khi đã yêu thích */
}

/* Màu khi bài hát không còn yêu thích */
.listen-music__action-icon--favorite.not-liked i {
  color: rgb(158, 147, 138); /* Màu tối khi không yêu thích */
}
